<div id="population<%=population.id%>">
  <tr>
    <td>
      <%= population.quantity %>
    </td>
    <td>
      <%= population.focus %>
    </td>
    <td>
      <%= population.culture.name %>
    </td>
    <td>
      in <%= population.province.name %>
    </td>
    <td>
      <%= population.happiness %>
    </td>
  </tr>
</div>